<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drz.oddb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MusicServer">
            <intent-filter>
                <action android:name="com.angel.Android.MUSIC"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".show.PrintResult"
            android:label="Print Result">
            <intent-filter>
                <action android:name="android.intent.action.PRINTRST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".show.ShowTable"
            android:label="ShowTable"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".show.ShowObj"
            android:label="ShowObj"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".show.ShowSwi"
            android:label="ShowSwi"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".show.ShowDep"
            android:label="ShowDep"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".show.ShowBi"
            android:label="ShowBi"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".show.ShowCla"
            android:label="ShowCla"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>


</manifest>